# IDE - IntelliJ
.idea/*
# Keep the code styles.
!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
# Keep the inspection levels
!.idea/inspectionProfiles
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml

# project stuff
.build/*
vendor/*
composer.lock
phpcs.xml
phpdoc.xml
phpmd.xml
phpunit.xml
