#################
## PHPStorm
#################

.idea/

#################
## Eclipse
#################

.settings/
.buildpath
.project

#################
## Misc
#################

pdoc.bat
composer.lock
docs
vendor