language: php

matrix:
  include:
    - php: 7.2
    - php: nightly
  allow_failures:
    - php: nightly

install: travis_retry composer install --no-interaction --prefer-source

script: vendor/bin/phpunit --configuration phpunit.xml --coverage-clover clover.xml

after_script: bash <(curl -s https://codecov.io/bash)
