parameters:
	ignoreErrors:
		-
			rawMessage: 'Property chillerlan\QRCodeBenchmark\DecoderBenchmark::$imageBlob (string) does not accept GdImage|string.'
			identifier: assign.propertyType
			count: 1
			path: benchmark/DecoderBenchmark.php

		-
			rawMessage: 'Parameter #1 $segment of method chillerlan\QRCode\QRCode::addSegment() expects chillerlan\QRCode\Data\QRDataModeInterface, object given.'
			identifier: argument.type
			count: 1
			path: benchmark/QRCodeBenchmark.php

		-
			rawMessage: 'Parameter #2 $dataSegments of class chillerlan\QRCode\Data\QRData constructor expects array<chillerlan\QRCode\Data\QRDataModeInterface>, array<int, object> given.'
			identifier: argument.type
			count: 2
			path: benchmark/QRDataBenchmark.php

		-
			rawMessage: 'Parameter #1 $string of function strtolower expects string, int|string given.'
			identifier: argument.type
			count: 1
			path: benchmark/generate-markdown.php

		-
			rawMessage: 'Offset ''name'' does not exist on array<int, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: benchmark/parse-common.php

		-
			rawMessage: 'Offset ''results'' does not exist on array<int, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: benchmark/parse-common.php

		-
			rawMessage: 'Offset 0 does not exist on array{}.'
			identifier: offsetAccess.notFound
			count: 1
			path: benchmark/parse-common.php

		-
			rawMessage: 'Offset int|null might not exist on array<int, non-empty-array<string, non-empty-array<string, array{float, int}>>>.'
			identifier: offsetAccess.notFound
			count: 1
			path: benchmark/parse-common.php

		-
			rawMessage: 'Function chillerlan\QRCodeBenchmark\parseLine() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: benchmark/parse-result.php

		-
			rawMessage: 'Parameter #1 $string of function trim expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: benchmark/parse-result.php

		-
			rawMessage: 'Property chillerlan\QRCode\QROptions::$eccLevel (int) does not accept string.'
			identifier: assign.propertyType
			count: 1
			path: examples/custom_output.php

		-
			rawMessage: 'Parameter #1 $width of function imagecreatetruecolor expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: examples/imageWithText.php

		-
			rawMessage: 'Parameter #2 $color of function imagecolortransparent expects int|null, int<0, max>|false given.'
			identifier: argument.type
			count: 1
			path: examples/imageWithText.php

		-
			rawMessage: 'Parameter #2 $height of function imagecreatetruecolor expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: examples/imageWithText.php

		-
			rawMessage: 'Parameter #6 $color of function imagechar expects int, int<0, max>|false given.'
			identifier: argument.type
			count: 1
			path: examples/imageWithText.php

		-
			rawMessage: 'Parameter #6 $color of function imagefilledrectangle expects int, int<0, max>|false given.'
			identifier: argument.type
			count: 1
			path: examples/imageWithText.php

		-
			rawMessage: 'Parameter #1 (Intervention\Image\Interfaces\ImageInterface|string) of echo cannot be converted to string.'
			identifier: echo.nonString
			count: 1
			path: examples/intervention-image.php

		-
			rawMessage: 'Method RandomDotsSVGOutput::collectModules() should return array<int, mixed> but returns array<int|string, list<string>>.'
			identifier: return.type
			count: 1
			path: examples/svgRandomColoredDots.php

		-
			rawMessage: 'Parameter #4 $M_TYPE_LAYER of method chillerlan\QRCode\Output\QRMarkupSVG::moduleTransform() expects int, int|string given.'
			identifier: argument.type
			count: 1
			path: examples/svgRandomColoredDots.php

		-
			rawMessage: 'Method RoundQuietzoneSVGoutput::collectModules() should return array<int, mixed> but returns array<int|string, list<string>>.'
			identifier: return.type
			count: 1
			path: examples/svgRoundQuietzone.php

		-
			rawMessage: 'Parameter #4 $M_TYPE_LAYER of method chillerlan\QRCode\Output\QRMarkupSVG::moduleTransform() expects int, int|string given.'
			identifier: argument.type
			count: 1
			path: examples/svgRoundQuietzone.php

		-
			rawMessage: 'Parameter #1 $data of function imagecreatefromstring expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: src/Common/GDLuminanceSource.php

		-
			rawMessage: 'Parameter #1 $gdImage of class chillerlan\QRCode\Common\GDLuminanceSource constructor expects GdImage, GdImage|false given.'
			identifier: argument.type
			count: 2
			path: src/Common/GDLuminanceSource.php

		-
			rawMessage: 'Parameter #2 $color of function imagecolorsforindex expects int, int<0, max>|false given.'
			identifier: argument.type
			count: 1
			path: src/Common/GDLuminanceSource.php

		-
			rawMessage: 'Offset int<min, -1>|int<1, max> might not exist on array{0, 0, 1, 25, 2, 50, 26, 198, ...}.'
			identifier: offsetAccess.notFound
			count: 3
			path: src/Common/GF256.php

		-
			rawMessage: 'Parameter #1 $maskPattern of class chillerlan\QRCode\Common\MaskPattern constructor expects int, int|false given.'
			identifier: argument.type
			count: 1
			path: src/Common/MaskPattern.php

		-
			rawMessage: 'Method chillerlan\QRCode\Common\Version::getRSBlocks() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Common/Version.php

		-
			rawMessage: 'Parameter #1 $version of class chillerlan\QRCode\Data\ReedSolomonEncoder constructor expects chillerlan\QRCode\Common\Version, chillerlan\QRCode\Common\Version|null given.'
			identifier: argument.type
			count: 1
			path: src/Data/QRMatrix.php

		-
			rawMessage: 'Parameter #2 $eccLevel of class chillerlan\QRCode\Data\ReedSolomonEncoder constructor expects chillerlan\QRCode\Common\EccLevel, chillerlan\QRCode\Common\EccLevel|null given.'
			identifier: argument.type
			count: 1
			path: src/Data/QRMatrix.php

		-
			rawMessage: 'Parameter #1 $maskPattern of method chillerlan\QRCode\Data\QRMatrix::mask() expects chillerlan\QRCode\Common\MaskPattern, chillerlan\QRCode\Common\MaskPattern|null given.'
			identifier: argument.type
			count: 1
			path: src/Decoder/BitMatrix.php

		-
			rawMessage: 'Parameter #1 $version of class chillerlan\QRCode\Data\QRMatrix constructor expects chillerlan\QRCode\Common\Version, chillerlan\QRCode\Common\Version|null given.'
			identifier: argument.type
			count: 1
			path: src/Decoder/BitMatrix.php

		-
			rawMessage: 'Parameter #2 $b of method chillerlan\QRCode\Decoder\BitMatrix::numBitsDiffering() expects int, int|null given.'
			identifier: argument.type
			count: 1
			path: src/Decoder/BitMatrix.php

		-
			rawMessage: 'Parameter #2 $eccLevel of class chillerlan\QRCode\Data\QRMatrix constructor expects chillerlan\QRCode\Common\EccLevel, chillerlan\QRCode\Common\EccLevel|null given.'
			identifier: argument.type
			count: 1
			path: src/Decoder/BitMatrix.php

		-
			rawMessage: 'Property chillerlan\QRCode\Decoder\Decoder::$options is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: src/Decoder/Decoder.php

		-
			rawMessage: 'Method chillerlan\QRCode\Decoder\ReedSolomonDecoder::deinterleaveRawBytes() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Decoder/ReedSolomonDecoder.php

		-
			rawMessage: 'Parameter #1 $width of function imagecreatetruecolor expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: src/Output/QRGdImage.php

		-
			rawMessage: 'Parameter #2 $height of function imagecreatetruecolor expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: src/Output/QRGdImage.php

		-
			rawMessage: PHPDoc tag @var with type chillerlan\QRCode\Data\QRDataModeInterface is not subtype of native type 'chillerlan\\QRCode\\Data\\AlphaNum'|'chillerlan\\QRCode\\Data\\Byte'|'chillerlan\\QRCode\\Data\\Hanzi'|'chillerlan\\QRCode\\Data\\Kanji'|'chillerlan\\QRCode\\Data\\Number'.
			identifier: varTag.nativeType
			count: 1
			path: src/QRCode.php

		-
			rawMessage: 'Parameter #1 $properties of class chillerlan\QRCode\QROptions constructor expects array<string, mixed>|null, array<string, mixed>|(chillerlan\Settings\SettingsContainerInterface&iterable) given.'
			identifier: argument.type
			count: 1
			path: src/QRCode.php

		-
			rawMessage: 'Method chillerlan\QRCodeTest\Common\MaskPatternTest::assertMask() has parameter $expected with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Common/MaskPatternTest.php

		-
			rawMessage: 'Method chillerlan\QRCodeTest\Common\MaskPatternTest::maskPatternProvider() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Common/MaskPatternTest.php

		-
			rawMessage: 'Method chillerlan\QRCodeTest\Common\MaskPatternTest::testMask() has parameter $expected with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Common/MaskPatternTest.php

		-
			rawMessage: 'Parameter #1 $string of static method chillerlan\QRCode\Data\QRDataModeInterface::validateString() expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: tests/Data/DataInterfaceTestAbstract.php

		-
			rawMessage: 'Parameter #1 $data of class chillerlan\QRCode\Data\Byte constructor expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: tests/Data/ECITest.php

		-
			rawMessage: 'Parameter #2 $to_encoding of function mb_convert_encoding expects string, string|null given.'
			identifier: argument.type
			count: 1
			path: tests/Data/ECITest.php

		-
			rawMessage: 'Parameter #1 $blob of method chillerlan\QRCode\QRCode::readFromBlob() expects string, GdImage|string given.'
			identifier: argument.type
			count: 1
			path: tests/Data/QRDataTest.php
