<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit-cache"
         colors="true"
>
	<testsuites>
		<testsuite name="php-qrcode test suite">
			<directory>tests</directory>
			<exclude>tests/Performance</exclude>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<logging>
		<junit outputFile=".build/logs/junit.xml"/>
	</logging>
	<!--
	<groups>
		<exclude>
			<group>slow</group>
		</exclude>
	</groups>
	-->
	<php>
		<!-- whether the test runs on CI - set to false to allow debug output -->
		<const name="TEST_IS_CI" value="true"/>
		<!-- limit the maximum version for the reader test to speed up things -->
		<const name="READER_TEST_MAX_VERSION" value="40"/>
		<!-- the QR version to display the matrix in when called from the shortcut method in QRMatrixDebugTrait -->
		<const name="MATRIX_DEBUG_VERSION" value="7"/>
	</php>
</phpunit>
