<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
		 cacheResultFile=".build/phpunit.result.cache"
		 colors="true"
		 verbose="true"
>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="php-qrcode test suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<junit outputFile=".build/logs/junit.xml"/>
	</logging>
</phpunit>
